<%- include("../partials/header")  %>
<%- include("../partials/navbar")  %>

<br>
<br>
<br>
<div class="container" style="max-width:300px;min-height: 83vh; ">
    <form action="/profile/<%= user._id %> " method="POST" enctype="multipart/form-data" novalidate>
        <label class="form-label mb-3">Upload Your Photo:</label>
        <input class="form-control mb-3" style="max-width: 300px;" type="file" name="propic" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <button class="btn btn-success mb-3" type="submit">Upload</button>
    </form>
    
</div>


<%- include("../partials/footer")  %>
